p {
  font-size: 120%;
  font-style: italic;
}

ul li {
  list-style: circle;
}

table {
  text-align: center;
  vertical-align: center;
  border-collapse: separate;
  border-radius: 5px;
  border: 2px;
}

td:hover {
  background: aqua;
}